html {
    height: 100%;
    overflow: hidden;
}

body {
    align-items: center;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

canvas {
    background-color: white;
}

#fps {
    top: 20px;
    right: 20px;
    position: absolute;
}

#instructions {
    color: white;
    padding-bottom: 3rem;
}
